<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.dao.GameUserDao">

    <select id="getOne" parameterType="com.game.entity.GameUser" resultType="com.game.entity.GameUser">
        SELECT
        id AS id,
        mobile AS mobile,
        user_name AS userName,
        pass_word AS passWord
        FROM game_user
        WHERE
        user_name = #{userName}
        <if test="null!=passWord and ''!=passWord">
        AND pass_word = #{passWord}
        </if>
    </select>

    <insert id="insertOne" parameterType="com.game.entity.GameUser">
        INSERT INTO game_user
        (mobile, user_name, pass_word, mark, add_time)
        VALUES
        (#{mobile}, #{userName}, #{passWord}, #{mark}, #{addTime})
    </insert>

    <update id="updatePwd" parameterType="java.util.Map">
        UPDATE game_user
        SET pass_word = #{newPassWord},mark= #{mark}, update_time = #{updateTime}
        WHERE user_name = #{userName} AND pass_word = #{oldPassWord}
    </update>

</mapper>